*{
  margin:0;
  box-sizing: border-box;
}

.movie-container{
  display:flex;
  flex-wrap: wrap;

}

img{
  width: 100%;
}

.imagen2{
  width: 20%;
  padding-top: 20px;
}

.imagen-error{
  width: 60%;
}

.imagen-portada{
  width: 100%;
}
.imagen-texto{
  background-color: black;
  color:white
}

.tv-container{
  display:flex;
  flex-wrap: wrap;

}


.movie{
  display:block;
  display:inline-block;
  margin: 1rem;
}


.imagen{
  background-image: url("./images/logo.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 150px;
  height: 60px;
  border-top-width: 150px;
  background-color: black;
  padding-top:10px;
  
 }
 
.contenedor{
  background-color: black;
  padding-top: 10px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:transparent;
  font-size: 20px;
 
}

li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}


li a:hover {
  background-color: #22254b;
}

body {
  background-color: #22254b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
